<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style type="text/css">
        @charset "UTF-8";
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{.Branding.Url}}" property="og:url">
    <meta content="{{.Branding.Title}}" property="og:title">
    <meta content="{{.Branding.Desc}}" property="og:description">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="{{.Branding.Favicon}}">
    <title>{{.Branding.Title}}</title>
    <meta content="lightning network, lndhub" name="keywords">
<body>
<div class="holder">
    <div class="container32">
        <div class="logo">
          <img src="{{.Branding.Logo}}">
        </div>
        <div class="scroll">
        <div class="boxes">
            <div class="box container24">
                <p class="meta">Channels</p>
                <h3>Active</h3>
                <span class="number1">{{.NumActiveChannels}}</span>
            </div>
            <div class="box container24">
                <p class="meta">Channels</p>
                <h3>Pending</h3>
                <span class="number1">{{.NumPendingChannels}}</span>
            </div>
            <div class="box container24">
                <p class="meta">Connected</p>
                <h3>Peers</h3>
                <span class="number1">{{.NumPeers}}</span>
            </div>
            <div class="box container24">
                <p class="meta">Block</p>
                <h3>Height</h3>
                <span class="label right synced" title="{{.SyncedToChain}}"></span>
                <span class="number1">{{.BlockHeight}}</span>
            </div>
        </div>
        </div>
    </div>
</div>

<h3>Channels</h3>
<div class="box container16">
    <div class="table">
        {{range .Channels}}
        <a class="decor" href="https://amboss.space/node/{{.RemotePubkey}}" target="_blank">
            <div class="row">
                <div class="name">
                    <h2>{{.Name}}</h2>
                    <h2>{{.RemotePubkey}}</h2>
                    <span class="amount">{{.CapacityBTC}} BTC</span>
                </div>
                <div class="graph"><progress id="progressbar" class="" value="{{.Local}}" max="{{.Total}}" style="width: {{.Size}}%"></progress></div>
                {{if .Active}}
                <div class="status"><span class="label right" title="active"></span></div>
                {{else}}
                <div class="status"><span class="label right" title="inactive"></span></div>
                {{end}}
            </div>
        </a>
        {{end}}
    </div>
</div>
<div class="sidebar container32">
    <div>
        <p class="meta">Connect via QR code</p>
    </div>
    <img src="/qr" class="qr">
    <div class="container32 nosidepadding">
        <p class="meta">Node URI</p>
        {{range .Uris}}
        <p class="uri">{{.}}</p>
        {{end}}
    </div>
    <footer>
        {{$first := true}}
        {{range $text, $link := .Branding.Footer}}
        {{if not $first}} | {{end}}
        <a href="{{ $link }}" target="_blank">{{ $text }}</a>
        {{$first = false}}
        {{end}}
    </footer>
</div>

</body>
</html>
